@media (pointer:fine) {
    body {
        margin: 0px;
        padding: 0px;
    }
    .header {
        background-color: pink; 
        margin: 0px;
        padding: 3vh 3vw;
        border-bottom: rgb(40,40,40) solid 0.5vh;
    }

    .title {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4vh;
        padding: 0px;
        margin: 0px;
    }

    .subtitle {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.82vh;
        padding: 0px;
        margin: 0px;
    }

    .content-section {
        border: palevioletred solid 5px;
        border-radius: 20px;
        margin: 1vw;
        padding: 2vw;
        width: auto;
    }

    .form-header {
        font-size: 5vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px;
    }

    .search-box {
        font-size: 2vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        background-color: pink;
        border: 2px solid palevioletred;
        border-radius: 4px;

        width: 100%;

        padding: 4px;
        color: black;

        margin: 1vh 0px;
    }

    .search-submit {
        font-size: 2.5vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        border: 2px solid palevioletred;
        border-radius: 5px;

        background-color: pink;

        font-weight: bold;
    }
}
