@media (pointer: none), (pointer:coarse) {
    body {
        margin: 0px;
        padding: 0px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .header {
        background-color: pink; 
        margin: 0px;
        padding: 3vh 3vw;
        border-bottom: rgb(40,40,40) solid 0.5vh;
    }

    .title {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4vh;
        padding: 0px;
        margin: 0px;
    }

    .subtitle {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.82vh;
        padding: 0px;
        margin: 0px;
    }

    .content-section {
        border: palevioletred solid 5px;
        border-radius: 20px;
        margin: 1vw;
        padding: 2vw;
        width: auto;
    }

    .content-section h1 {
        text-align: center;
    }

    .form-header {
        font-size: 2vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px;
    }

    .search-box {
        font-size: 1.5vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        background-color: pink;
        border: 2px solid palevioletred;
        border-radius: 4px;

        width: 100%;

        padding: 4px;
        color: black;

        margin: 1vh 0px;
    }

    .search-submit {
        font-size: 1.5vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        border: 2px solid palevioletred;
        border-radius: 5px;

        background-color: pink;

        font-weight: bold;
        margin: 0px 1vw;
    }

    .recipe-link {
        color: black;
        text-decoration: none;
        border: palevioletred solid 5px;
        border-radius: 10px;
        padding: 0.5vw;
        background-color: antiquewhite;
        margin: 0.25vw;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tags a {
        text-decoration: none;
        color: black;
    }

    .recipe-description {
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .recipe-name {
        margin: 0;
        text-align: center;
        font-weight: 900;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .greentag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightgreen;
        border: forestgreen solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }

    .redtag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:indianred;
        border: firebrick solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }

    .yellowtag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:palegoldenrod;
        border: gold solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }

    .greytag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:lightgrey;
        border: slategray solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }

    .lightbluetag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:paleturquoise;
        border: lightsteelblue solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }

    .bluetag {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        border: darkblue solid 5px;
        border-radius: 10px;
        padding: 2px;
        margin: 0.5vw;
    }
}
