@media (pointer: none), (pointer:coarse) {
    body {
        margin: 0px;
        padding: 0px;
    }
    .header {
        background-color: pink; 
        margin: 0px;
        padding: 3vh 3vw;
        border-bottom: rgb(40,40,40) solid 0.5vh;
    }

    .title {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4vh;
        padding: 0px;
        margin: 0px;
    }

    .subtitle {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.82vh;
        padding: 0px;
        margin: 0px;
    }
}
