<html>
    <head>
        <link rel="stylesheet" href="{{ url_for( 'static', filename='phone-style.css') }}">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='desktop-style.css') }}">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='generic.css') }}">
    </head>
    <body>
        <div class="header">
            
            <h1 class="title">Kim's Kitchen</h1>
            <h2 class="subtitle">A recipe management system</h2>
        </div>
        <div class="mainarea">
            <div class="flex flexcol flexstart">
                <!-- Search Bar For Searching -->
                <div class="content-section">
                    <form class="recipe-search" action="/search" method="POST">
                        <div class="flex flexcol flexstart">
                            <h2 class="form-header">Recipe Search</h2>
                            
                            <div class="flex flexrow flexend">
                                <input class="search-box" type="text" name="target_recipe" placeholder="Search for a recipe..." />
                                <input class="search-submit" type="submit" value="Search" />
                            </div>
                        </div>
                    </form>
                </div>
                {% if files %}
                    <ul>
                    {% for file in files %}
                        <li>{{ file }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <div class="flex flexrow flexaround">
                    <!-- Random recipes For viewing -->
                    <div class="content-section wide70">
                        <h1>Featured Recipes</h1>
                        <div class="flex flexrow flexaround">
                            <div class="flex flexcol flexstart">
                                {% if randomRecipes1 %}
                                    {% for recipe in randomRecipes1 %}
                                        <a class="recipe-link" href="/recipes/{{ recipe.name }}">
                                            <div class="recipe">
                                                <h2 class="recipe-name">{{ recipe.name }}</h2>
                                                <div class="tags">
                                                    {% for i in range(recipe.tags | length ) %}
                                                        <p class="{{ recipe.tag_colors[i] }}tag">{{ recipe.tags[i] }}</p>
                                                    {% endfor %}
                                                </div>
                                                <table class="flex flexrow flexcenter">
                                                    <tr class="header-row">
                                                        <td>Prep</td>
                                                        <td>Cook</td>
                                                        <td>Serves</td>
                                                        <td>Calories</td>
                                                    </tr>
                                                    <tr class="data-row">
                                                        <td>{{ recipe.prep_time }}</td>
                                                        <td>{{ recipe.cook_time }}</td>
                                                        <td>{{ recipe.serves }}</td>
                                                        <td>{{ recipe.calories }}</td>
                                                    </tr>
                                                </table>
                                                <p class="recipe-description">{{ recipe.description }}</p>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="flex flexcol flexstart">
                                {% if randomRecipes2 %}
                                    {% for recipe in randomRecipes2 %}
                                        <a class="recipe-link" href="/recipes/{{ recipe.name }}">
                                            <div class="recipe">
                                                <h2 class="recipe-name">{{ recipe.name }}</h2>
                                                <div class="tags">
                                                    {% for i in range(recipe.tags | length ) %}
                                                        <p class="{{ recipe.tag_colors[i] }}tag">{{ recipe.tags[i] }}</p>
                                                    {% endfor %}
                                                </div>
                                                <table class="flex flexrow flexcenter">
                                                    <tr class="header-row">
                                                        <td>Prep</td>
                                                        <td>Cook</td>
                                                        <td>Serves</td>
                                                    </tr>
                                                    <tr class="data-row">
                                                        <td>{{ recipe.prep_time }}</td>
                                                        <td>{{ recipe.cook_time }}</td>
                                                        <td>{{ recipe.serves }}</td>
                                                    </tr>
                                                </table>
                                                <p class="recipe-description">{{ recipe.description }}</p>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Random tags to Look at -->
                    <div class="content-section wide30">
                        <h1>Tags</h1>
                        <div class="tags flex flexcol flexstart">
                            {% if tagPool %}
                                {% for i in range( tagPool[0] | length ) %}
                                    <a href="/tags/{{ tagPool[0][i] }}">
                                        <p class="{{ tagPool[1][i] }}tag textcenter">{{ tagPool[0][i] }}</p>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>