<html>
    <head>
        <link rel="stylesheet" href="{{ url_for( 'static', filename='phone-style.css') }}">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='desktop-style.css') }}">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='generic.css') }}">
    </head>
    <body>
        <div class="header">
            
            <h1 class="title">Kim's Kitchen</h1>
            <h2 class="subtitle">A recipe management system</h2>
        </div>
        <div class="mainarea">
            <div class="flex flexcol flexstart">
                <!-- Search Bar For Searching -->
                <div class="content-section">
                    <form class="recipe-search">
                        <div class="flex flexcol flexstart">
                            <h2 class="form-header">Recipe Search</h2>
                            
                            <div class="flex flexrow flexend">
                                <input class="search-box" type="text" name="target_recipe" placeholder="Search for a recipe..." />
                                <input class="search-submit" type="submit" value="Search" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex flexrow flexaround">
                    <!-- Random recipes For viewing -->
                    <div class="content-section wide70">
                        <h1>Featured Recipes</h1>
                        <div class="flex flexrow flexaround">
                            <div class="flex flexcol flexstart">
                                <a class="recipe-link" href="/recipes/cake">
                                    <div class="recipe">
                                        <h2 class="recipe-name">Recipe Name</h2>
                                        <div class="tags">
                                            <p class="greentag">Christmas</p>
                                            <p class="lightbluetag">Birthday</p>
                                            <p class="yellowtag">Dessert</p>
                                        </div>
                                        <table class="flex flexrow flexcenter">
                                            <tr class="header-row">
                                                <td>Prep</td>
                                                <td>Cook</td>
                                                <td>Serves</td>
                                            </tr>
                                            <tr class="data-row">
                                                <td>20 minutes</td>
                                                <td>60 minutes</td>
                                                <td>8</td>
                                            </tr>
                                        </table>
                                        <p class="recipe-description">It's a cake! it's yummy</p>
                                    </div>
                                </a>
                                <a class="recipe-link" href="/recipes/cake">
                                    <div class="recipe">
                                        <h2 class="recipe-name">Recipe Name</h2>
                                        <div class="tags">
                                            <p class="greentag">Christmas</p>
                                            <p class="lightbluetag">Birthday</p>
                                            <p class="yellowtag">Dessert</p>
                                        </div>
                                        <table class="flex flexrow flexcenter">
                                            <tr class="header-row">
                                                <td>Prep</td>
                                                <td>Cook</td>
                                                <td>Serves</td>
                                            </tr>
                                            <tr class="data-row">
                                                <td>20 minutes</td>
                                                <td>60 minutes</td>
                                                <td>8</td>
                                            </tr>
                                        </table>
                                        <p class="recipe-description">It's a cake! it's yummy</p>
                                    </div>
                                </a>
                            </div>
                            <div class="flex flexcol flexstart">
                                <a class="recipe-link" href="/recipes/cake">
                                    <div class="recipe">
                                        <h2 class="recipe-name">Recipe Name</h2>
                                        <div class="tags">
                                            <p class="greentag">Christmas</p>
                                            <p class="lightbluetag">Birthday</p>
                                            <p class="yellowtag">Dessert</p>
                                        </div>
                                        <table class="flex flexrow flexcenter">
                                            <tr class="header-row">
                                                <td>Prep</td>
                                                <td>Cook</td>
                                                <td>Serves</td>
                                            </tr>
                                            <tr class="data-row">
                                                <td>20 minutes</td>
                                                <td>60 minutes</td>
                                                <td>8</td>
                                            </tr>
                                        </table>
                                        <p class="recipe-description">It's a cake! it's yummy</p>
                                    </div>
                                </a>
                                <a class="recipe-link" href="/recipes/cake">
                                    <div class="recipe">
                                        <h2 class="recipe-name">Recipe Name</h2>
                                        <div class="tags">
                                            <p class="greentag">Christmas</p>
                                            <p class="lightbluetag">Birthday</p>
                                            <p class="yellowtag">Dessert</p>
                                        </div>
                                        <table class="flex flexrow flexcenter">
                                            <tr class="header-row">
                                                <td>Prep</td>
                                                <td>Cook</td>
                                                <td>Serves</td>
                                            </tr>
                                            <tr class="data-row">
                                                <td>20 minutes</td>
                                                <td>60 minutes</td>
                                                <td>8</td>
                                            </tr>
                                        </table>
                                        <p class="recipe-description">It's a cake! it's yummy</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Random tags to Look at -->
                    <div class="content-section wide30">
                        <h1>Random Tags</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>